body {
    background-color: aliceblue;
}

h1 {
    color: rgb(248, 141, 245);
}

table, th, td {
    border: 1px solid pink;
  }

b {
    margin-bottom: 5px;
}

table {
    margin-top: 5px;
}